section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none; /*tirando a formatação padrão das listas*/

        li {
            /*  o & no sass referência o próprio elemento*/
            & + li { /*sempre q/ tiver uma li eu vou pegar a próxima li e dar uma margem-top:20px;*/
                margin-top: 20px;
            }
        }
    }
