section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none; /*tirando a formatação padrão das listas*/

        li {
            /*separando um li do outro*/
            margin-bottom: 20px;

            /*pegando o último li e tiando a margem botton */
            &:last-child { /*essa é uma forma de fazer isso*/
                margin: 0;
                
            }
        }
