section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none; /*tirando a formatação padrão das listas*/

        li {
            /*  o & no sass referência o próprio elemento*/
            & + li { /*sempre que tiver uma 'li' eu vou pegar a próxima 'li' e dar uma margem-top:20px;*/
                margin-top: 20px;
            }

            p {
                font-size: 14px;
                color: #444;
                margin-top: 8px;

            }

            a {
                display: inline-block; /*display inline que permite fazermos um mafin-top, margin-botton...*/
                margin-top: 16px;
                text-decoration: none; /*tirar a linha*/
                color: #8257ed;

            }
        }
